.pagination{
	float: right;
	margin-top: 66px;
}
.page__list{
	padding: 0px;
	margin: 0px;
	list-style: none;
}
.page__item{
	display: inline-block;
	border: 1px solid #dee1e4;
	background: white;
	padding: 5px;
	width: 16px;
	height: 16px;
	border-radius: 2px;
	text-align: center;
	font-size: 12px;
	transition: .3s;

	&:hover{
		background: #e0e0e0;
		cursor: pointer;
		border-color: #b6b6b6;
		box-shadow: 0 1px 1px 0px #dee1e4;
	}
}
.pagination__link{
	text-decoration: none;
}